<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <Appearance theme="CUPERTINO_DARK">
        <RegularFont family="DejaVu Sans" size="14"/>
        <MonospaceFont family="DejaVu Sans Mono" size="14"/>
    </Appearance>
    <Viewer>
        <Font family="DejaVu Sans Mono" size="14"/>
        <TabSymbol size="4" useSpaces="true"/>
    </Viewer>
    <Connections>
        <Connection name="LocalServer" loginName="admin" loginPassword="admin" host="127.0.0.1" port="7900" protocol="HTTP" secure="true"/>
    </Connections>
    <Diagram layerColor="#e6804d" moduleColor = "#4d66cc" lineType="ORTHO" layoutEngine="SMETANA" limitSize="20000"/>
</Settings>

